body {
  color: #3a4374;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

h1 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.1875rem;
  letter-spacing: -0.0208rem;
  mix-blend-mode: normal;
  opacity: 0.96;
}

h2 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.8125rem;
  letter-spacing: -0.0156rem;
}

h3 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.625rem;
  letter-spacing: -0.0156rem;
}

h4 {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.0122rem;
}
